:root {
  --starlight-image-zoom-backdrop-bg: none;
  --sl-font: "Atkinson Hyperlegible Next Variable", system-ui, sans-serif;
}

.hero-html {
  --size: 12rem;

  font-size: var(--size);
  justify-content: center;
  line-height: var(--size);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Atkinson Hyperlegible Next Variable", system-ui, sans-serif;
}

.content-panel :is(p, ul) {
  font-family: "Atkinson Hyperlegible Next Variable", system-ui, sans-serif;
}

:is(code, code *) {
  font-family: "JetBrains Mono Variable", sans-serif !important;
}

dialog::backdrop {
  backdrop-filter: blur(10px) brightness(0.8);
}

img {
  border-radius: 0.5rem;
}

@keyframes highlightPink {
  0% {
    color: inherit;
    background: inherit;
    border-radius: unset;
    padding-block: unset;
  }
  40%,
  60% {
    color: var(--sl-color-accent-low);
    background: var(--sl-color-accent-high);
    padding-block: 1rem;
    border-radius: 1rem;
  }
  100% {
    color: inherit;
    background: inherit;
    border-radius: unset;
    padding-block: unset;
  }
}

.fragment-highlight.highlight-now {
  animation: highlightPink 4s cubic-bezier(1, 0, 0.7, 0.97);
}

.gh-badge {
  display: inline-flex;
  align-items: center;
  background-color: var(--sl-color-accent-low);
  border-radius: 9999px;
  padding: 0em 0.5em 0 0.3em;
  font-size: 0.9em;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: background-color 0.2s ease;
  transform: translateY(0.29rem);
  border: 1px solid var(--sl-color-accent);
}

.gh-badge:hover {
  background-color: var(--sl-color-accent);
}

.gh-badge img {
  border-radius: 9999px;
  width: 1.3em;
  height: 1.3em;
}
